@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
  // получаем сервис IRequestCultureFeature
  var requestCulture = Context.Features.Get<IRequestCultureFeature>();
  // получаем список поддерживаемых культур
  List<SelectListItem> styles = new List<SelectListItem>();
  styles.Add(new SelectListItem("стандарт", "default"));
  styles.Add(new SelectListItem("аэрофлот", "aeroflot"));
  if (Context.Request.Cookies.ContainsKey("stylename") && Context.Request.Cookies["stylename"] == "aeroflot")
  {
    styles[1].Selected = true;
  }
  else
  {
    styles[0].Selected = true;
  }

  var cultureItems = LocOptions.Value.SupportedUICultures
      .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
      .ToList();
}

<form asp-controller="Home" asp-action="SetStyle" style="display: inline-block"
      asp-route-returnUrl="@Context.Request.Path"
      method="post" class="form-horizontal">
  
    <label>@Localizer["Style"]:</label> 
    <select name="stylename" onchange="this.form.submit();"
                      asp-items="styles"></select>
  

</form>

