@model List<Order>
@{
  ViewData["Title"] = "Index";
}

<h2>Управление заявками</h2>
@Html.ActionLink("ДОБАВИТЬ ЗАЯВКУ", "CreateOrder", "Order", new { @class = "create-hotel-link" }, null)
<div id="TableOfOrdersBlock">
 
</div>
<script type="text/javascript">
  $('#TableOfOrdersBlock').load("/Order/GetTableOfOrders?page=1");
</script>