@model List<Order>
@{
  ViewData["Title"] = "Index";
}

<h2>Управление заявками</h2>
@Html.ActionLink("ДОБАВИТЬ ЗАЯВКУ", "CreateOrder", "Order", new { @class = "create-hotel-link" }, null)
<div id="TableOfOrdersBlock">
  @await Html.PartialAsync("TableOfOrders.cshtml", Model);
</div>
