@model List<Client>
@{
  ViewData["Title"] = "Index";
}

<h2>Управление клиентами агенства</h2>
<div>
  <p>
    @Html.ActionLink("ДОБАВИТЬ КЛИЕНТА", "CreateClient", "Client", new { @class = "create-client-link" }, null)
  </p>
  <div id="ClientsBlock">
    @*@await Html.PartialAsync("GetTableOfClients", Model)*@
  </div>
</div>

<script type="text/javascript">
   $('#ClientsBlock').load("/Client/GetTableOfClients", function () { });
</script>
