@{
  ViewData["Title"] = "Index";
  ViewData["PageDescription"] = "Страница управления клиентами, тут статистика, новости, карты с офисами и что то еще";
}
@* тэг noscript срабатывает только если JS в браузере отключен *@
<noscript>
  @* если в ссылке есть параметр noscript в положении 1, то ничего не делаем, сайт и так в режиме работы без JS  *@
  @if (Context.Request.Path.ToString().ToLower().Contains("noscript=1"))
  {

  }
  else
  {
    // если нет параметра noscript в ссылке, а JS у нас отключен, то его надо добавать
    // получаем текущую строку запроса
    string url = Context.Request.Path.ToString();
    // если в строке есть знак вопроса - есть другие параметры в запросе
    if (url.Contains("?"))
    {
      // добавляем к строке еще один параметр
      url += "&noscript=1";
    }
    else
    {
      // если нету других параметров(в строке нет ?), добавляем параметр начиная с знака?
      url += "?noscript=1";
    }
    // мета тег для автоматического перехода на эту же страницу с параметром noscript
    <meta http-equiv="refresh" content="0;URL=@url" />
  }
</noscript>
<div class="jumbotron text-center">
  <h2>Управление клиентами агенства</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      @Html.ActionLink("ДОБАВИТЬ КЛИЕНТА", "CreateClient", "Client", new { @class = "create-client-link" }, null)
    </p>
    <p>
      @Html.ActionLink("СКАЧАТЬ ТАБЛИЦУ КЛИЕНТОВ", "Clients", "Export", new { @class = "create-client-link" }, null)
    </p>
  </div>
</div>
<div class="row">
  <div id="ClientsBlock" class="col-md-12">

  </div>
</div>

<script type="text/javascript">
  $('#ClientsBlock').load("/Client/GetTableOfClients?page=1");
</script>
