@*
  For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a id="calllink" href="http://localhost/index.php#">
  <h4>заказать звонок</h4>
</a>
<hr style="margin: 3px;">
<h5>+7 (654) 123 44 55</h5>
@if (User.Identity.Name != null)
{
  <p> вы вошли как @User.Identity.Name @Html.ActionLink("Выход", "Logout", "Account", new { @class = "logout-link" }, null) </p>
}
else
{
  <p> Для работы с порталом <br /> авторизуйтесь! </p>
}
