
@if (User.Identity.Name != null)
{
  <p> вы вошли как @User.Identity.Name @Html.ActionLink("Выход", "Logout", "Account", new {  }, null) </p>
}
else
{
  <p> Для работы с порталом <br /> авторизуйтесь! </p>
}
