@model List<Hotel>
@{
  ViewData["Title"] = "Отели";
}

<h2>Управление отелями</h2>
<div>
  <p>
    @Html.ActionLink("ДОБАВИТЬ ОТЕЛЬ", "CreateHotel", "Hotel", new { @class = "create-hotel-link" }, null)
  </p>
</div>
<div id='hotelstablecontainer'>
  @await Html.PartialAsync("GetTableOfHotels", Model)
</div>