@{
  ViewData["Title"] = Localizer["Title"];// "";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@* тэг noscript срабатывает только если JS в браузере отключен *@
<noscript>
  @* если в ссылке есть параметр noscript в положении 1, то ничего не делаем, сайт и так в режиме работы без JS  *@
  @if (Context.Request.Path.ToString().ToLower().Contains("noscript=1"))
  {

  }
  else
  {
    // если нет параметра noscript в ссылке, а JS у нас отключен, то его надо добавать
    // получаем текущую строку запроса
    string url = Context.Request.Path.ToString();
    // если в строке есть знак вопроса - есть другие параметры в запросе
    if (url.Contains("?"))
    {
      // добавляем к строке еще один параметр
      url += "&noscript=1";
    }
    else
    {
      // если нету других параметров(в строке нет ?), добавляем параметр начиная с знака?
      url += "?noscript=1";
    }
    // мета тег для автоматического перехода на эту же страницу с параметром noscript
    <meta http-equiv="refresh" content="0;URL=@url" />
  }
</noscript>
<div class="jumbotron text-center">
  <h2>@Localizer["Hotel Managment"]</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      @Html.ActionLink(Localizer["Add Hotel"].Value, "CreateHotel", "Hotel", new { @class = "create-hotel-link" }, null)
    </p>
  </div>
</div>

<div class="row" id='hotelstablecontainer'>

</div>

<script type="text/javascript">
  $('#hotelstablecontainer').load("/Hotel/GetTableOfHotels", function () { });
</script>
