@model List<Hotel>
@{
  ViewData["Title"] = "Отели";
}
<div class="jumbotron text-center">
  <h2>Управление отелями</h2>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      @Html.ActionLink("ДОБАВИТЬ ОТЕЛЬ", "CreateHotel", "Hotel", new { @class = "create-hotel-link" }, null)
      </p>
  </div>
</div>

<div id='hotelstablecontainer'>

</div>

<script type="text/javascript">
  $('#hotelstablecontainer').load("/Hotel/GetTableOfHotels", function () { });
</script>
