
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-route-action="AddRandomClients" asp-route-controller="Test" 
   ajax-data="true" ajax-method="replace"> Добавить рандомных пользователей

</a>